# dependencies
node_modules
npm-debug.log*
yarn-error.log

# production
build
docs-dist
docs-cdn
docs-dist.zip
es
lib
/dist
# misc
.DS_Store
.eslintcache
.umi

# idea
.idea
.vscode

#coverage
coverage
