@import '@/common.less';

.Intro {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  margin-top: -412px;
  box-shadow: 0px -32px 60px 0px rgba(105, 173, 224, 0.13);

  .wrap {
    position: relative;
    height: 410px;
  }

  .bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(220, 241, 255, 0.01) 0%, rgba(245, 247, 250, 1) 100%);
    backdrop-filter: blur(40px);
  }

  .bg2 {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url('@/assets/images/home/zase.png');
    background-blend-mode: screen;
  }

  .bg3 {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url('https://image-c.weimobwmc.com/sass-admin/d97d17dd477d4ea0897a5a9bcef8cb7a.png')
      no-repeat center top;
    background-size: contain;
  }

  .wrapper {
    justify-content: flex-start;
  }

  .cont {
    position: relative;
    padding-top: 100px;
    height: 100%;

    .text {
      text-align: center;

      .title {
        margin-bottom: 24px;
      }

      .desc {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 56px;
      }

      .btns {
        display: flex;
        gap: 12px;
        justify-content: center;

        .btn {
          border-radius: 6px;
          height: 50px;
          width: 136px;

          &:hover {
            .arrowWrap {
              &::before {
                right: 0;
                width: 13px;
              }
              &::after {
                right: 0;
              }
            }
          }

          .arrowWrap {
            display: inline-block;
            width: 13px;
            height: 10px;
            margin-left: 8px;
            position: relative;

            &::before {
              content: '';
              width: 0;
              height: 2px;
              background: white;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 8px;
              margin: auto;
              transition: all 0.6s ease-out;
            }

            &::after {
              content: '';
              width: 8px;
              height: 8px;
              border-top: 2px solid #fff;
              border-left: 2px solid #fff;
              box-sizing: border-box;
              transform: rotate(135deg);
              position: absolute;
              right: 8px;
              top: 0;
              bottom: 0;
              margin: auto;
              transition: all 0.6s ease-out;
            }
          }
        }

        .npmBtn {
          position: relative;
          background: white;
          border-color: #f0f2f5;
          width: 350px;
          color: #1e2226;
          padding-left: 24px;
          padding-right: 12px;
          text-align: left;

          &:hover {
            color: inherit;
          }

          .pkgName {
            background: linear-gradient(89.97deg, #006aff 44.74%, #00d1d1 70.09%, #a3dc00 99.88%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        .splitline {
          display: inline-block;
          width: 1px;
          height: 24px;
          background: #e9ecf0;
          margin: 0 12px;
          vertical-align: -8px;
        }

        .copy {
          width: 36px;
          height: 36px;
          border-radius: 4px;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 12px;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;

          .copyIcon {
            color: #8a9099;
            font-size: 20px;
          }

          &:hover {
            background: #f5f7fa;

            .copyIcon {
              color: #626973;
            }
          }
        }
      }
    }
  }
}
